<!-- bottom.tmpl -->
<br/>
<hr class="line" />
<div id="footer" class="is-navbar-container">
    <div class="is-navbar">
        <!-- primary navigation -->
        <nav class="is-center">
            <!--
            &#169; <a href="https://github.com/vkuznet">Valentin Kuznetsov</a>, 2019
            -->
            <ul>
                <li>&#169;</li>
                <li><a href="https://github.com/vkuznet">Valentin Kuznetsov</a></li>
                <li>2019</li>
            </ul>
        </nav>
    </div>
</div>
<!-- end of bottom.tmpl -->
</body>
</html>
