<!-- form.tmpl -->
<div class="is-center is-50">
<form method="post" action="upload" enctype="multipart/form-data">
    <br/>
    <fieldset>
        <legend>Mini-kaggle submission page</legend>
        <div class="form-item">
            <label>Submission name</label>
            <input type="text" name="name" placeholder="Use distinguished name">
        </div>
        <div class="form-item">
            <label>File name</label>
            <input type="file" name="file" >
        </div>

        <div class="form-item">
            <div class="is-append is-push-right is-right">
                <div class="is-80">
                </div>
                <button class="button">Submit</button>
            </div>
        </div>
    </fieldset>
</form>
</div>
<!-- end of form.tmpl -->
