<div class="is-center is-30">
<form method="post" action="/private">
    <fieldset>
        <legend>Access Key</legend>
        <div class="form-item">
            <div class="is-append">
                <input type="password" name="key" placeholder="Access key">
                <button class="button">Login</button>
            </div>
        </div>
    </fieldset>
</form>
</div>
