<div class="is-center is-50">
<form method="post" action="/private">
    <fieldset>
        <legend>Login data</legend>
        <div class="form-item">
            <label>Access Key</label>
            <input type="text" name="key" class="is-50">
        </div>
        <div class="form-item is-buttons is-inline-offset">
			<button class="button">Login</button>
        </div>
    </fieldset>
</form>
</div>
