<!DOCTYPE HTML>
<!-- web_top.tmpl -->
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head profile="http://www.w3.org/2005/11/profile">
    <title>Mini-kaggle submission</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="en-us" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta http-equiv="imagetoolbar" content="no" />
    <meta name="author" content="Valentin Kuznetsov (vkuznet at gmail dot com)" />
    <meta name="MSSmartTagsPreventParsing" content="true" />
    <meta name="ROBOTS" content="ALL" />
    <meta name="Copyright" content="(CC) 2019, Valentin Kuznetsov" />
    <meta name="Rating" content="General" />

    <!-- Kube CSS -->
    <link rel="stylesheet" href="/css/kube.min.css">

</head>
<body>

<div id="header" class="is-navbar-container is-muted">
    <div class="is-navbar">
        <!-- primary navigation -->
        <nav class="is-center">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/dashboard">Dashboard</a></li>
            </ul>
        </nav>
    </div>
</div>
<br/>
<hr class="line" />

<!-- end of web_top.tmpl -->
